.tamanho {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: bottom;
}


@media screen and(max-width:1023) {
    .tamanho {

        height: 100vh;
        width: auto;
        object-fit: cover;
    }

}

.tamanhoImage {
    object-fit: cover;
}

.fraseEfeito {
    font-family: adam;
    color: rgb(252, 246, 246);
    border-radius: 5%;
    padding: 1%;
    background-color: rgba(117, 114, 114, 0.37); 
    font-size: calc((100vw/365.7143)*11);
    box-shadow: 0px 5px 5px 3px #000000;
}

.alinhando {
    left: 25%;
}

.tamanhoFuncao{
   width: 140px;
   filter: invert(1);
}
@media screen and (max-width: 768px) {
    .tamanhoFuncao
    {
        width: calc((140px / 365.7143) + 30px);
        min-width: 25%;
            
    }
}